/**
 * =require social-share-button
 * =require ./slick.css
 * =require ./slick-theme.scss
 */

.main-nav {
  z-index: 30!important;
}
 .gradient {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b5b5b+15,000000+100 */
   background: #5b5b5b;
   /* Old browsers */
   background: -moz-linear-gradient(top, transparent 15%, #000000 100%);
   /* FF3.6-15 */
   background: -webkit-linear-gradient(top, transparent 15%, #000000 100%);
   /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, transparent 15%, #000000 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b5b5b', endColorstr='#000000', GradientType=0);
   /* IE6-9 */
 }

.slick-next {
  right: 8px;
}

.slick-prev {
  left: -8px;
}

.slick-prev:before, .slick-next:before {
  color: black
 }

.slick-prev:before, .slick-next:before {
  font-size: 1.8rem
}

video {
  margin: 1rem auto 1rem auto;
  width: 100% !important;
  height: auto !important;
  display: block;
}