<div class="w-full py-16 px-10 flex justify-between">
  <div class="">
      <%= raw current_theme.the_field("footer_left") %>
  </div>
  <div class="">
      <%= raw current_theme.the_field("footer_center") %>
  </div>
  <div class="">
      <%= raw current_theme.the_field("footer_right") %>
      <div class="single-footer-widget mb-32">
        <h4 class="widget-title">Follow Us</h4>
        <div class="footer-social-info">
        <a href="#" class="facebook" title="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="twitter" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="instagram" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="youtube" title="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>

  </div>
</div><!-- /container -->