<div class="single-footer-widget">
  <div class="footer-social-info">
  <a href="#" class="facebook" title="Facebook">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="#" class="twitter" title="Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#" class="instagram" title="Instagram">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="#" class="youtube" title="YouTube">
    <i class="fab fa-youtube"></i>
  </a>
</div>